<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- User is logged in -->
  <div *ngIf="isLoggedIn()" class="profile">

    <!-- User profile is completed -->
    <div *ngIf="profileCompleted">
      <app-profile-card></app-profile-card>
    </div>

    <!-- User profile is not completed -->
    <div *ngIf="!profileCompleted">
      <app-complete-profile></app-complete-profile>
    </div>

  </div>

  <!-- User is not logged in -->
  <div *ngIf="!isLoggedIn()">
    <app-account-card></app-account-card>
  </div>



</ion-content>
