<ion-card>
  <ion-card-content>
    <h1>Actividades disponibles</h1>
    <ion-list>

      <ion-item>
        <ion-icon aria-hidden="true" name="qr-code-outline" slot="start"></ion-icon>
        <ion-label>Registrar asistencia | QR</ion-label>
        <ion-button
          type="button"
          expand="block"
          color="primary"
          fill="outline"
          routerLink="/tabs/activities/qr"
          disabled="{{!isLogged()}}"
        >
          Abrir
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-icon aria-hidden="true" name="document-text-outline" slot="start"></ion-icon>
        <ion-label>Formularios</ion-label>
        <ion-button
          type="button"
          expand="block"
          color="primary"
          fill="outline"
          routerLink="/tabs/activities/forms"
          disabled="{{!isLogged()}}"
        >
          Abrir
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-icon aria-hidden="true" name="briefcase-outline" slot="start"></ion-icon>
        <ion-label>Registrar asignaturas</ion-label>
        <ion-button
          type="button"
          expand="block"
          color="primary"
          fill="outline"
          routerLink="/tabs/activities/classes"
          disabled="{{!isLogged()}}"
        >
          Abrir
        </ion-button>
      </ion-item>

    </ion-list>
  </ion-card-content>
</ion-card>
