<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/activities"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro de asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>




      <!-- Inicio - Pagina generada pc -->
      <div *ngIf="generatedPageDesktop()">


        <!-- Generar QR plataforma PC -->
        <div class="cards">

          <ion-card>
            <ion-card-header>
              <ion-card-title style="font-size: 2rem">Generar codigo QR</ion-card-title>
              <ion-card-subtitle>Genera un codigo qr para el registro de asistencia</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>

              <form (ngSubmit)="generateQR()" [formGroup]="form_fields">
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-item>

                        <ion-label position="stacked">Seleccionar clase</ion-label>
                        <ion-select placeholder="Selecciona tu rol" formControlName="class">
                          <div *ngFor="let c of classes">
                            <ion-select-option value="{{c.class_name}}">{{c.class_name}}</ion-select-option>
                          </div>
                        </ion-select>

                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-button (click)="generateQR()" [disabled]="form_fields.invalid">Generar</ion-button>
                      <ion-button
                        routerLink="generated/"
                        [disabled]="!showButton()"
                      >
                        Mostrar detalles
                      </ion-button>
                      <p>Registrado como: {{getCurrentUser()}}</p>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>

                    </ion-col>
                  </ion-row>
                </ion-grid>
              </form>

            </ion-card-content>

          </ion-card>


          <ion-card>
            <ion-card-header>
              <ion-card-title style="font-size: 2rem">Registrar asistencia</ion-card-title>
              <ion-card-subtitle>Registra tu asistencia escaneando un codigo qr</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              <div *ngIf="isApp()">
                <ion-button  (click)="scanCode()">Abrir camara</ion-button>
                <ion-button routerLink="scanned/">
                  ver pagina generada

                </ion-button>
              </div>
              <div *ngIf="!isApp()">
                <ion-button routerLink="/download">
                  Descargar aplicación
                  <ion-icon slot="end" name="arrow-down-outline"></ion-icon>
                </ion-button>
                <p>Esta función solo esta disponible en la aplicación movil</p>
              </div>
            </ion-card-content>
          </ion-card>
        </div>


      </div>

    </div>
    <!-- Fin bloque - Usuario registrado -->




  <!-- Platform -->
  <div class="platform-text">
    <p>Plataforma: {{showPlatform()}}</p>
  </div>

</ion-content>
