<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/activities"></ion-back-button>
    </ion-buttons>
    <ion-title>Administración de clases</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <h1>Acciones</h1>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button routerLink="register/">
        Registrar una clase
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <h1>Clases registradas</h1>
      </ion-card-title>
      <ion-card-subtitle>
        <p>Aqui se muestrar tus clases registradas</p>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-button (click)="getClasses()">
        Actualizar
        <ion-icon slot="end" name="reload-outline"></ion-icon>
      </ion-button>
      <div>
        <ion-list>
          <div *ngFor="let c of classes">
            <ion-item detail="false">
              <ion-label>
                <strong>{{c.class_name}} </strong>
                <br/>
                <ion-note color="medium" class="ion-text-wrap">
                  {{c.class_code}}
                </ion-note>
                <ion-note color="medium"> | </ion-note>
                <ion-note color="medium">{{c.teacher_email}}</ion-note>
              </ion-label>
              <div class="metadata-end-wrapper" slot="end">
                <ion-button color="danger">Eliminar</ion-button>

              </div>
            </ion-item>
          </div>
        </ion-list>
      </div>


    </ion-card-content>
  </ion-card>




</ion-content>
