<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>

  <div class="welcome-page">

    <!-- Usuario logeado -->
  <div *ngIf="loggedIn()">
    <h1>Bienvenido, {{readUserName()}}</h1>
    <h3>Generar QR <a href="/tabs/tab2">aqui</a></h3>
  </div>

    <!-- Usuario no registrado -->
  <div *ngIf="!loggedIn()">
    <h1>Bienvenido, {{readUserName()}}</h1>
    <h3>Registrarse <a href="/tabs/tab3">aqui</a></h3>
  </div>


  </div>

</ion-content>
