<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Confirmación exitosa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <body>
    <div class="main">
      <ion-card>
        <ion-card-content>
          <div class="main-card">
            <h1>Se confirmo tu cuenta!</h1>
            <h2>Ahora puedes iniciar sesión</h2>
            <ion-button routerLink="/login">Ir al inicio sesión</ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </body>
</ion-content>
