ion-content {
  @media screen and (max-width: 767px) {
    // Mobile
    --padding-top: 45%;
    --padding-start: 5%;
    --padding-end: 5%;
  }

  @media screen and (min-width: 767px) {
    // Desktop
    --padding-top: 10%;
    --padding-start: 20%;
    --padding-end: 20%;
  }

  --background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
      url("https://images.unsplash.com/photo-1491895200222-0fc4a4c35e18?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1548&q=80")
      no-repeat center center / cover;
}
